{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'libs/font-awesome/css/fontawesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" />
        
    </head>
    <body>
        {% include "layout/header.html" %}
        
        <!-- Main Content-->
        <div class="main-body-content">
            {% block content %}{% endblock %}
        </div>
        <!-- Footer-->
        <!-- {% include "layout/footer.html" %} -->

        <!-- Bootstrap core JS-->
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/font-awesome/js/all.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js'%}"></script>
    </body>
</html>
